{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:prettier/recommended",
    "plugin:sonarjs/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "jest",
    "simple-import-sort",
    "sonarjs",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "ignorePatterns": [".lintstagedrc.js"],
  "rules": {
    "linebreak-style": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "semi": ["error", "always"],
    "no-multi-spaces": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".ts"] }],
    "react/jsx-handler-names": [
      "error",
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "on"
      }
    ],
    "react/jsx-no-bind": [
      "error",
      {
        "ignoreRefs": true,
        "allowArrowFunctions": false,
        "allowFunctions": false,
        "allowBind": false,
        "ignoreDOMComponents": true
      }
    ],
    "react/require-default-props": [
      0,
      { "forbidDefaultForRequired": false, "ignoreFunctionalComponents": true }
    ],
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-use-before-define": ["error"],
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "simple-import-sort/imports": "error",
    "sort-imports": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  }
}
