@releaseband:registry=https://releaseband-971715240952.d.codeartifact.eu-central-1.amazonaws.com/npm/main/
//releaseband-971715240952.d.codeartifact.eu-central-1.amazonaws.com/npm/main/:always-auth=true